 {% extends "layout.html" %}
 
 {% block title %}
     About
 {% endblock %}
 
 {% block main %}
    <center>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://friskysquirrel.s3.amazonaws.com/pictures/Grumpy+Cat+and+Ridiculously+Photogenic+Guy+at+Disneyland.+-+Imgur.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://friskysquirrel.s3.amazonaws.com/pictures/Has+Imgur+seen+this+yet+Conan+%26+Grumpy+Cat+-+Imgur.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://friskysquirrel.s3.amazonaws.com/pictures/Stan+Lee+with+grumpy+cat+-+Imgur.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </center>
{% endblock %}
